---
layout: base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
title: 'Lost?'
intro: Some go this way. Some go that way. But as for me, myself, personally, I prefer the short-cut.
---

<div class="fenced" role="none">
  <h1>{{title}}</h1>

  <land-tulgeywood class="tulgeywood" role="none">
    <figure class="surface">
      <blockquote class="margin-trim">
        <p>Some go this way.<br>Some go that way.<br>But as for me, myself, personally, I prefer the short-cut.</p>
      </blockquote>
      <figcaption>
        The Cheshire Cat, <cite>Alice in Wonderland (1951)</cite>
      </figcaption>
    </figure>
    <p>Cannot find the content, <a href="{{'/'|url}}">return to Entrance</a></p>
  </land-tulgeywood>
</div>
