---
layout: layouts/base.njk
eleventyNavigation:
  key: Entrance
  order: 1
---

<div class="entrance margin-trim">
  <h1>{{metadata.title}}</h1>
  <p>{{metadata.description}}</p>

  {% include "_includes/layouts/article-list.njk" %}
</div>
