---
layout: base.njk
eleventyNavigation:
  key: Entrance
  order: 1
eleventyComputed:
  title: "{{metadata.title|safe}}: {{metadata.description|safe}}"
---

<div class="entrance margin-trim" role="none">
  <section class="intro surface" aria-label="About marchbox.com">
    <header>
      <h1 class="plain">{{metadata.title}}</h1>
      <p class="intro-subtitle">{{metadata.description}}</p>
    </header>
    <p>I’m a web developer who enjoys drawing and loves Disney. On this website, I write <a href="{{'/articles/'|url}}">my opinions</a> about web design and development, Disney, and other interesting things in my life. I also post some of <a href="{{'/drawings/'|url}}">my random doodles</a>.</p>
    <footer>
      <p><a href="{{'/about'|url}}" class="readmore">Learn more about the site</a></p>
    </footer>
  </section>

  <section aria-label="Recent articles">
    <div class="articles-list" role="none">
      {% set article_list_collection = collections.article|listHead(5) %}
      {% include "_src/njk/article-list.njk" %}
    </div>
  </section>

  <section aria-label="Recent drawings">
  </section>
</div>
