---
layout: base.njk
eleventyNavigation:
  key: Entrance
  order: 1
title: "MarchBox – Zacky Ma’s personal website"
---

<div class="entrance margin-trim" role="none">
  <section class="intro surface margin-trim" aria-label="About marchbox.com">
    <h1 class="plain">{{metadata.title}}</h1>
    <p>{{metadata.description}}</p>
    <p><a href="{{'/about'|url}}" class="readmore">Learn more about the site</a></p>
  </section>

  <section aria-label="Recent articles">
    <div class="articles-list" role="none">
      {% set article_list_collection = collections.article|listHead(5) %}
      {% include "_src/njk/article-list.njk" %}
    </div>
  </section>

  <section aria-label="Recent drawings">
  </section>
</div>
