{% if collections.articles.length %}
  {% for article in collections.articles %}
  <article>
    {% set h_tag = article_list_h_tag or 'h2' %}
    <{{h_tag}}><a href="{{article.url|url}}">{{article.data.title}}</a></{{h_tag}}>
    <div class="article-meta" role="none">
      <p><time datetime="{{article.date|attrDate}}">{{article.date|readableDate}}</time></p>
    </div>
    <p>{{article.data.excerpt}}</p>
    <p><a href="{{article.url|url}}" class="readmore">Read on</a></p>
  </article>
  {% endfor %}
{% endif %}
