<!DOCTYPE html>
{% set isHome = page.url === '/' %}

<html lang="en">

<head>
<meta charset="utf-8">

{% set title %}{% filter trim %}
  {% if isHome %}{{title|safe}}
  {% elif page.url.startsWith('/drawings/') and page.fileSlug !== 'drawings' %}{{(title + " – Drawings – " + metadata.title)|safe}}
  {% else %}{{(title + " – ")|safe if title}}{{metadata.title}}
  {% endif %}
{% endfilter %}{% endset %}
<title>{{title|safe}}</title>
<meta property="og:title" content="{{title|safe}}">

<script>document.documentElement.classList.add('js')</script>

{% set description %}{% filter trim %}
  {% if isHome %}{{metadata.description|safe}}
  {% elif page.excerpt %}{{page.excerpt|safe}}
  {% elif intro %}{{intro|safe}}
  {% elif caption %}{{caption|safe}}
  {% else %}{{metadata.description|safe}}
  {% endif %}
{% endfilter %}{% endset %}
{% if description %}
<meta name="description" content="{{description|safe}}">
{% endif %}
<meta property="og:description" content="{{description|safe}}">

{% set canonical = metadata.host %}
{% if page.url !== '/404.html' %}
  {% set canonical = page.url|url|absoluteUrl(metadata.host) %}
{% endif %}
<meta name="canonical" content="{{canonical}}">
<meta property="og:url" content="{{canonical}}">

<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website">
<meta property="og:locale" content="en">

{% set ogImage -%}
  {%- if keyart -%}{{keyart|url|absoluteUrl(metadata.host)}}
  {%- else -%}{{'/og.png'|url|absoluteUrl(metadata.host)}}
  {%- endif -%}
{%- endset %}
<meta property="og:image" content="{{ogImage}}">

<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<link rel="alternate" type="application/rss+xml" title="All articles and drawings"
    href="{{'/feed'|url|absoluteUrl(metadata.host)}}">
<link rel="alternate" type="application/rss+xml" title="All articles"
    href="{{'/articles/feed'|url|absoluteUrl(metadata.host)}}">
<link rel="alternate" type="application/rss+xml" title="All drawings"
    href="{{'/drawings/feed'|url|absoluteUrl(metadata.host)}}">

<link rel="icon" href="{{'/favicon.ico'|url}}" type="image/x-icon">
<link rel="icon" href="{{'/favicon.png'|url}}">
<link rel="icon" href="{{'/favicon.svg'|url}}" type="image/svg+xml">

<link rel="manifest" href="{{'/manifest.json'|url}}">

<link rel="stylesheet" href="{{fonts.google|getFontUrl|safe}}">
<link rel="stylesheet" href="{{'/css/default.css?[css-version]'|url}}">
</head>

<body>

<a href="#content" class="skip">Skip to the content</a>

<header class="header">
  <a class="logo" href="{{'/'|url}}" title="Return to Entrance">
    <div class="logo-img" aria-label="marchbox.com’s logo" role="img">
      {% include '_src/svg/logo.svg' %}
    </div>
  </a>
  <nav class="nav" is="land-monorail" aria-label="main navigation">
    <div class="monorail-station" role="none">
      <div class="monorail-train" role="none">
        <div class="monorail-engine" aria-hidden="true">
          {% include '_src/svg/monorail-engine-head.svg' %}
        </div>
        {% for entry in collections.all|eleventyNavigation %}
          {% set isCurrent = entry.url == page.url %}
          {% set isActive = entry.url == page.url or entry|isParent(page) %}
          <a href="{{entry.url|url}}"{% if isCurrent %} aria-current="page"{% endif %}
              class="monorail-car{% if isActive %} active{% endif %}">
            <span role="none">{{entry.title}}</span>
          </a>
        {% endfor %}
        <div class="monorail-engine" aria-hidden="true">
          {% include '_src/svg/monorail-engine-tail.svg' %}
        </div>
      </div>
    </div>
  </nav>
</header>

<main id="content">{{content|safe}}</main>

<footer class="footer">
  <div class="fenced" role="none">
    <ul class="footer-links">
      <li><a href="{{'/about/#subscribe'|url}}">Subscribe</a></li>
      <li><a href="{{'/about/#contact'|url}}">Contact</a></li>
      <li><a rel="me" href="https://twitter.com/marchbox">@marchbox</a></li>
      <li><a rel="me" href="https://front-end.social/@marchbox">front-end.social</a></li>
    </ul>
    <p>©{% copyrightYear %} <a href="{{'/about/'|url}}">Zacky Ma</a></p>
  </div>
  <land-sidewalks></land-sidewalks>
</footer>

<script src="{{'/js/main.js?[js-version]'|url}}" async></script>
</body>

</html>
