<!doctype html>
{% set is_home = page.url|url === '/' %} 

<html lang="en">

<head>
<meta charset="utf-8">

{% set title %}{% filter trim %}
  {% if is_home %}
    {{title}}
  {% else %}
    {{title + " – " if title}}{{metadata.title}}
  {% endif %}
{% endfilter %}{% endset %}
<title>{{title}}</title>

{% set description %}{% filter trim %}
  {% if is_home %}{{metadata.description}}
  {% elif excerpt %}{{excerpt}}
  {% elif intro %}{{intro}}
  {% endif %}
{% endfilter %}{% endset %}
{% if description %}
  <meta name="description" content="{{description|safe}}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="canonical" content="{{metadata.host + page.url|url}}">
<link rel="alternate" type="application/rss+xml" href="{{metadata.host}}/feed.xml">
<link rel="icon" href="{{'/assets/favicon.png'|url}}">
<link rel="icon" href="{{'/assets/favicon.svg'|url}}" type="image/svg+xml">
<link href="{{fonts.google|getFontUrl|safe}}" rel="stylesheet"> 
<link rel="stylesheet" href="{{'/css/default.css?[css-version]'|url}}">
</head>

<body>

<header class="header">
  <a class="logo" href="{{'/'|url}}" title="Return to the entrance">
    <land-logo aria-label="marchbox.com’s logo" />
  </a>
  <nav class="nav" is="land-monorail" aria-label="main navigation">
    <div class="monorail-station" role="none">
      <div class="monorail-train" role="none">
        {% for entry in collections.all|eleventyNavigation %}
          {% set isCurrent = entry.url == page.url %}
          {% set isActive = entry.url == page.url or entry|isParent(page) %}
          <a href="{{entry.url | url}}"{% if isCurrent %} aria-current="page"{% endif %}
              class="monorail-car{% if isActive %} active{% endif %}">
            <span role="none">{{entry.title}}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>

<main>{{content|safe}}</main>

<footer class="footer">
  <div class="fenced" role="none">
    <a href="https://creativecommons.org/licenses/by-sa/4.0/"
        title="Creative Commons Attribution-ShareAlike 4.0 International license">
      CC-BY-SA-4.0
    </a>
  </div>
  <land-sidewalks />
</footer>

<script src="{{'/js/main.js?[js-version]' | url}}"></script>
</body>

</html>
