{% for drawing in drawingListConfig.collection %}
  {% set titleId = 'drawing-' + drawing.data.key %}
  {% set isFeatured = loop.first and drawingListConfig.useFeatured %}
  {% set classes = {
    'drawing': true,
    'drawing-featured': isFeatured
  }|classes %}
  <article class="{{classes}}"
      {% if isFeatured %} aria-labelledby="{{titleId}}"
      {% else %} aria-label="{{drawing.data.title}}"
      {% endif %}>
    <a href="{{drawing.url}}">
      <figure>
        {% drawingImage drawing.data %}
        <figcaption class="margin-trim surface">
          {% if isFeatured %}
          <p class="drawing-caption">{{drawing.data.caption}}</p>
          <p class="drawing-title" id="{{titleId}}">{{drawing.data.title}}</p>
          <p class="drawing-date">
            <time datetime="{{drawing.date|attrDate}}">
              {{drawing.data.date|readableDate}}
            </time>
          </p>
          {% else %}
            {{drawing.data.caption}}
          {% endif %}
        </figcaption>
      </figure>
    </a>
  </article>
{% endfor %}
