{%- if feed_collection -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{title or metadata.title}}</title>
  <subtitle>{{description or metadata.description}}</subtitle>
  <link href="{{metadata.host}}/{{permalink}}" rel="self"/>
  <link href="{{metadata.host}}"/>
  <updated>{{feed_collection|latestCollectionItemDate|dateToRfc3339}}</updated>
  <id>{{metadata.host}}</id>
  <author>
    <name>{{metadata.author.name}}</name>
    <email>{{metadata.author.email}}</email>
  </author>
  {%- for post in feed_collection|sort(true,false,'data.date') %}
  {% set absolutePostUrl %}{{post.url|url|absoluteUrl(metadata.host)}}{% endset %}
  <entry>
    <title>{{post.data.title}}</title>
    <link href="{{absolutePostUrl}}"/>
    <updated>{{post.data.date|dateToRfc3339}}</updated>
    <id>{{absolutePostUrl}}</id>
    <content type="html">{{post.templateContent|htmlToAbsoluteUrls(absolutePostUrl)}}</content>
  </entry>
  {%- endfor %}
</feed>
{%- endif -%}
