{% if pagination and pagination.hrefs.length > 1 %}
<nav aria-label="{{title}} pagination" class="pagination">
  {% for href in pagination.hrefs %}
  <a href="{{href|url}}" aria-label="Page {{loop.index}}"
      {% if href === page.url %} aria-current="page"{% endif %}>
    {{loop.index}}
  </a>
  {% endfor %}
</nav>
{% endif %}
