---
layout: base.njk
---

<article class="fenced post">
  <header>
    <h1>{{pageTitle or title}}</h1>
    <aside class="post-meta">
      {% if date %}
      <p><time datetime="{{date|attrDate}}">{{date|readableDate}}</time></p>
      {% endif %}

      {# TODO: Enable for drawings if needed. #}
      {% set tagList = tags|postTagList %}
      {% if tagList.length %}
      <ul class="post-tags">
        {% for tag in tagList %}
        <li>
          <a href="{{'/articles/tag/'+tag|url}}"
              title="Articles tagged with “{{tag|postTagName}}”">
            {{tag|postTagName}}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </aside>
  </header>

  {{content|safe}}
</article>

{% if tags and tags|listIncludes('drawing') and pagination %}
<nav class="drawing-pagination fenced" aria-label="More drawings">
  {% if pagination.page.next.title %}
  <a href="{{pagination.href.next}}" class="drawing-pagination-next">
    Next:
    <strong>{{pagination.page.next.title}}</strong>
  </a>
  {% else %}
  <span class="drawing-pagination-next">More to come…</span>
  {% endif %}

  {% if pagination.page.previous.title %}
  <a href="{{pagination.href.previous}}" class="drawing-pagination-prev">
    Previous:
    <strong>{{pagination.page.previous.title}}</strong>
  </a>
  {% else %}
  <span class="drawing-pagination-prev">The end</span>
  {% endif %}
</nav>
{% endif %}

<section aria-labelledby="heading-comments">
  <h2 id="heading-comments">Comments</h2>
  <form name="comment" netlify>
    <ol>
      <li><label>Name <input type="text" name="name" required></label></li>
      <li><label>Email <input type="email" name="email"></label></li>
      <li><label>Comment <textarea name="body"></textarea>
    </ol>
    <p><button type="submit">Submit</button></p>
  </form>
</section>
