---
layout: base.njk
---

<article class="fenced post">
  <header>
    <h1>{{title}}</h1>
    <aside class="post-meta">
      {% if date %}
      <p><time datetime="{{date|attrDate}}">{{date|readableDate}}</time></p>
      {% endif %}

      {# TODO: Enable for drawings if needed. #}
      {% set tagList = tags|postTagList %}
      {% if tagList.length %}
      <ul class="post-tags">
        {% for tag in tagList %}
        <li>
          <a href="{{'/articles/tag/'+tag|url}}" rel="tag"
              title="Articles tagged with “{{tag|postTagName}}”">
            {{tag|postTagName}}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </aside>
  </header>

  {{content|safe}}
</article>

{% if tags and tags|listIncludes('drawing') and pagination %}
  {% set paginationConfig = {
    label: 'More drawings',
    isFenced: true,
    hidePages: true,
    nextPageTitle: pagination.page.next.title,
    prevPageTitle: pagination.page.previous.title
  } %}

  {% include '_src/njk/pagination.njk' %}
{% endif %}
