{% set treeSvg %}{% include "_src/svg/tree.svg" %}{% endset %}
<land-sidewalks role="img" aria-label="An abstract portrait of sidewalks, with trees that are composed with circles that represent canopies and sticks that represent trunks and branches. And thank you for reading through the end.">
  <div class="container" aria-hidden="true">
    <div class="sidewalk sidewalk-start">
      <div class="tree tree-1">{{treeSvg|safe}}</div>
      <div class="tree tree-2">{{treeSvg|safe}}</div>
    </div>
    <div class="sidewalk sidewalk-end">
      <div class="tree tree-3">{{treeSvg|safe}}</div>
      <div class="tree tree-4">{{treeSvg|safe}}</div>
      <div class="tree tree-5">{{treeSvg|safe}}</div>
    </div>
  </div>
</land-sidewalks>
