---
layout: templates/base.njk
---

<article class="fenced">
  <header>
    <h1>{{title}}</h1>
    {% if date %}
      <p>{{date|readableDate}}
    {% endif %}
  </header>

  {{content|safe}}
</article>
