---js
{
  layout: 'post.njk',
  eleventyComputed: {
    key: data => data.drawing.key,
    date: data => data.drawing.date,
    title: data => data.drawing.title,
    caption: data => data.drawing.caption,
    keyart: data => `/drawings/gallery/${data.key}.jpg`,
  },
  permalink: '/drawings/{{drawing.key}}/index.html',
  pagination: {
    data: 'drawings',
    size: 1,
    alias: 'drawing',
    addAllPagesToCollections: true,
  },
}
---

<figure class="drawing-exhibition">
  {% drawingImage drawing %}
  <figcaption>{{drawing.caption}}</figcaption>
</figure>
