---
layout: post.njk
pagination:
  data: drawings
  size: 1
  alias: drawing
permalink: '/drawings/{{drawing.key}}/index.html'
eleventyComputed:
  title: '{{(drawing.title+" – Drawings")|safe}}'
  pageTitle: '{{drawing.title|safe}}'
---

<figure class="drawing-exhibition">
  <figcaption>{{drawing.caption}}</figcaption>
  <img src="{{('/drawings/gallery/'+drawing.key+'.jpg')|url}}" alt="{{drawing.title}}">
</figure>
