---
layout: base.njk
override:tags: []
title: Drawings
eleventyNavigation:
  key: Drawings
  order: 3
---

<div class="drawings margin-trim" role="none">
  <h1 id="title">Drawings</h1>

  <section class="drawings-gallery">
    {% set drawing_list_collection = collections.drawing|reverse %}
    {% set drawing_list_use_featured = true %}
    {% include "_src/njk/drawing-list.njk" %}
  </section>
</div>
