---
layout: base.njk
override:tags: []
title: Drawings
eleventyNavigation:
  key: Drawings
  order: 3
---

<div class="drawings margin-trim" role="none">
  <h1 id="title">Drawings</h1>

  <section class="drawings-gallery">
    {% for drawing in drawings|sort(true,false,'date') %}
    {% set title_id = 'drawing-' + drawing.id %}
    {% set is_featured = loop.first %}
    {% set classes = {
      'drawing': true,
      'drawing-featured': is_featured
    }|classes %}
    {% set url = ('/drawings/'+drawing.key)|url %}
    <article class="{{classes}}" aria-labelledby="{{title_id}}">
      <a href="{{url}}">
        <figure>
          {% set image_src = ('/drawings/gallery/'+drawing.key+'.jpg')|url %}
          {% set image_alt = drawing.title or '' %}
          {% set image_widths = [600, 1240] %}
          {% set image_sizes = '(max-width: 300px) 300px, 620px' %}
          {% image image_src, image_alt, image_widths, image_sizes %}
          <figcaption class="margin-trim">
            {% if is_featured %}
            <p class="drawing-caption">{{drawing.caption}}</p>
            <p class="drawing-title" id="{{title_id}}">{{drawing.title}}</p>
            <p class="drawing-date">
              <time datetime="{{drawing.date|attrDate}}">
                {{drawing.date|readableDate}}
              </time>
            </p>
            {% else %}
              {{drawing.caption}}
            {% endif %}
          </figcaption>
        </figure>
      </a>
    </article>
    {% endfor %}
  </section>
</div>
