---
layout: base.njk
pagination:
  data: drawings.happiest
  size: 1
  alias: drawing
tags: happiest
permalink: '/drawings/happiest/{{drawing.key}}/index.html'
eleventyComputed:
  title: '{{(drawing.title+" – Drawings")|safe}}'
---

<article class="fenced article">
  <h1>{{drawing.title}}</h1>
  <div class="article-meta">
    <p><time datetime="{{drawing.date|attrDate}}">{{drawing.date|readableDate}}</time></p>
  </div>
  <figure>
    <img src="{{('/drawings/happiest/'+drawing.key+'.jpg')|url}}" alt="{{drawing.title}}">
    <figcaption>{{drawing.caption}}</figcaption>
  </figure>
</article>
