---
permalink: /feeds/articles.xml
description: Articles from marchbox.com
eleventyComputed:
  title: "{{metadata.title}} (Articles)"
---
{%- set feed_collection = collections.article|reverse -%}
{% include '_src/njk/feed.njk' %}
