---
permalink: /feeds/articles.xml
description: Articles from marchbox.com
eleventyComputed:
  title: "{{metadata.title}} (Articles)"
eleventyImport:
  collections: ['article']
---
{%- set feedConfig = {
  collection: collections.article|reverse
} -%}
{% include '_src/njk/feed.njk' %}
