.articles {
  grid-column: 2 / -2;

  @media (--md) {
    align-content: start;
    display: grid;
    grid-template-columns: 1fr 15rem;
    gap: 0 4rem;
  }

  & h1 {
    grid-column: 1 / -1;
  }

  & aside {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 2rem;
    margin-block-start: 4rem;

    @media (--md) {
      display: flex;
      flex-direction: column;
      margin-block-start: 0;
    }

    & h2 {
      font-size: 1.2rem;
    }

    & ul {
      font-size: var(--type-caption-size);
      font-weight: var(--type-caption-weight);
      line-height: var(--type-caption-lh);
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    & li {
      margin-block: .5rem;
    }

    & a[aria-current] {
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.articles-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  & article h2 {
    margin-block-end: .5rem;
  }

  & article h3 {
    margin-block-end: 0;
  }
}
