.margin-trim {
  & > :first-child {
    margin-block-start: 0;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}

.readmore {
  &::after {
    content: '→';
    display: inline-block;
    transform: translatex(.125rem);
    vertical-align: middle;

    @media (--motion) {
      transition: transform .16s var(--ease-bouncing);
    }
  }

  &:hover,
  &:focus {
    &::after {
      transform: translatex(.375rem);
    }
  }
}

.skip {
  background-color: var(--color-blue-light);
  block-size: 1px;
  inline-size: 1px;
  inset-block-start: .5rem;
  inset-inline-start: 50%;
  opacity: 0;
  overflow: hidden;
  padding-inline: .5rem;
  position: absolute;
  transform: translatex(-50%);
  text-decoration: none;
  text-shadow: .125rem .0625rem 0 var(--color-bg);
  z-index: var(--zindex-skip);

  &:hover,
  &:focus {
    block-size: auto;
    inline-size: auto;
    opacity: 1;
  }

  @media (--dark) {
    --color-fg-link: var(--color-bg);
    --color-fg-link-preactive: var(--color-bg);

    background-color: var(--color-nightlight);
  }
}
