.margin-trim {
  & > :first-child {
    margin-block-start: 0;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}

.article-list {
  & article h2 {
    margin-block-end: 0;
  }
}

.readmore {
  &::after {
    content: ' →';
  }
}

.surface {
  background: var(--color-bg-surface);
  border-radius: 1rem;
  padding: 1.2rem;
}

.tags {
  @nest ul& {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & a {
    background-color: var(--color-bg-tag);
    border-radius: 1rem;
    color: var(--color-fg-tag);
    font-size: var(--type-caption-size);
    font-weight: var(--type-caption-weight);
    line-height: var(--type-caption-lh);
    padding: .125rem .5rem;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
