.margin-trim {
  & > :first-child {
    margin-block-start: 0;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}

.readmore {
  &::after {
    content: '→';
    display: inline-block;
    transform: translatex(.125rem);
    vertical-align: middle;

    @media (--motion) {
      transition: transform .16s var(--ease-bouncing);
    }
  }

  &:hover,
  &:focus {
    &::after {
      transform: translatex(.375rem);
    }
  }
}

.surface {
  background: var(--color-bg-surface);
  border-radius: 1rem;
  padding: 1.2rem;
}
