@custom-media --md (width >= 64rem);
@custom-media --nav-sm (width < 53rem);
@custom-media --nav-md (width >= 53rem);
@custom-media --motion (prefers-reduced-motion: no-preference);
@custom-media --dark (prefers-color-scheme: dark);

html {
  --type-body-family: 'source sans pro', sans-serif;
  --type-body-size: 1.125rem;
  --type-body-weight: 400;
  --type-body-lh: 1.5;

  --type-heading-family: 'source serif pro', serif;

  --type-title-size: 2.8rem;
  --type-title-lh: 1.2;
  --type-title-weight: 900;
  @media (--md) {
    --type-title-size: 4rem;
  }

  --type-h2-size: 1.6rem;
  --type-h2-lh: 1.25;
  --type-h2-weight: 700;
  @media (--md) {
    --type-h2-size: 2rem;
  }

  --type-h3-size: 1.2rem;
  --type-h3-lh: 1.167;
  --type-h3-weight: 700;
  @media (--md) {
    --type-h3-size: 1.5rem;
  }

  --type-caption-size: .875rem;
  --type-caption-lh: 1.2857;

  --type-code-family: 'monolisa', monospace;
  --type-code-size: .9rem;
  --type-code-weight: 600;
  --type-code-block-size: .8rem;
  --type-code-block-lh: 1.4;
  --type-code-block-weight: var(--type-body-weight);

  --type-actionable-weight: 600;


  --color-bg: hsl(0 0% 96%);
  --color-bg-code: hsl(0 0% 92%);
  --color-bg-surface: hsl(0 0% 92%);
  --color-fg: hsl(0 0% 16%);
  --color-fg-code: hsl(278deg 57% 32%);
  --color-border: hsl(0 0% 92%);

  --color-horizon: hsl(203deg 100% 72%);
  --color-monorail-track: hsl(203deg 100% 90%);
  --color-monorail-track-outline: var(--color-horizon);
  --color-monorail-car: hsl(140deg 67% 84%);
  --color-monorail-car-outline: var(--color-fg);
  --color-monorail-car-window: hsl(140deg 43% 60%);
  --color-monorail-car-active: hsl(3deg 98% 90%);
  --color-monorail-car-active-outline: var(--color-monorail-car-outline);
  --color-tree-leaf: hsl(140deg 67% 84%);
  --color-tree-leaf-outline: transparent;
  --color-tree-wood: var(--color-fg);

  @media (--dark) {
    --color-bg: hsl(0 0% 8%);
    --color-bg-code: hsl(0 0% 16%);
    --color-bg-surface: hsl(0 0% 16%);
    --color-fg: hsl(0 0% 96%);
    --color-fg-code: hsl(166deg 100% 50%);
    --color-border: hsl(0 0% 92%);

    --color-nightlight: hsl(56deg 100% 50%);

    --color-horizon: var(--color-nightlight);;
    --color-monorail-track: var(--color-bg);
    --color-monorail-track-outline: var(--color-nightlight);
    --color-monorail-car: var(--color-bg);
    --color-monorail-car-outline: hsl(172deg 100% 50%);
    --color-monorail-car-window: hsl(0 0% 32%);
    --color-monorail-car-active: var(--color-monorail-car);
    --color-monorail-car-active-outline: hsl(300deg 100% 72%);
    --color-tree-leaf: transparent;
    --color-tree-leaf-outline: var(--color-nightlight);
    --color-tree-wood: var(--color-nightlight);
  }

  --zindex-logo: 10;
  --zindex-monorail: 2;
  --zindex-monorail-track: -1;
  --zindex-monorail-track-outline: 1;
  --zindex-sidewalks: -1;
}
