@custom-media --md (width >= 64rem);
@custom-media --nav-sm (width < 53rem);
@custom-media --nav-md (width >= 53rem);
@custom-media --gallery-md (width >= 40rem);
@custom-media --motion (prefers-reduced-motion: no-preference);
@custom-media --dark (prefers-color-scheme: dark);

html {
  --type-body-family: 'source sans pro', sans-serif;
  --type-body-size: 1.125rem;
  --type-body-weight: 400;
  --type-body-lh: 1.5;

  --type-heading-family: 'source sans pro', sans-serif;

  --type-title-size: 2.8rem;
  --type-title-lh: 1.2;
  --type-title-weight: 900;
  @media (--md) {
    --type-title-size: 4rem;
  }

  --type-h2-size: 1.6rem;
  --type-h2-lh: 1.25;
  --type-h2-weight: 700;
  @media (--md) {
    --type-h2-size: 2rem;
  }

  --type-h3-size: 1.2rem;
  --type-h3-lh: 1.167;
  --type-h3-weight: 700;
  @media (--md) {
    --type-h3-size: 1.5rem;
  }

  --type-caption-size: .875rem;
  --type-caption-lh: 1.2857;
  --type-caption-weight: 600;

  --type-code-family: 'monolisa', monospace;
  --type-code-size: .8em;
  --type-code-weight: 600;
  --type-code-block-size: .8rem;
  --type-code-block-lh: 1.4;
  --type-code-block-weight: var(--type-body-weight);

  --type-actionable-weight: 600;


  --color-red-light: hsl(3deg 98% 90%);
  --color-red-dark: hsl(3deg 98% 32%);
  --color-green-light: hsl(140deg 67% 84%);
  --color-green-medium: hsl(140deg 43% 60%);
  --color-blue-light: hsl(203deg 100% 90%);
  --color-blue-medium: hsl(203deg 100% 72%);
  --color-blue-dark: hsl(207deg 100% 40%);
  --color-purple-dark: hsl(278deg 57% 32%);
  --color-yellow-medium: hsl(56deg 100% 50%);
  --color-yellow-dark: hsl(56deg 100% 32%);
  --color-teal-medium: hsl(172deg 100% 50%);
  --color-magenta-medium: hsl(300deg 100% 72%);

  --color-bg: hsl(0 0% 98%);
  --color-bg-surface: var(--color-blue-light);
  --color-bg-code: hsl(0 0% 92%);
  --color-bg-tag: var(--color-green-light);
  --color-fg: hsl(0 0% 16%);
  --color-fg-code: var(--color-purple-dark);
  --color-fg-caption: hsl(0 0% 16%);
  --color-fg-tag: var(--color-fg);
  --color-fg-watermark: hsl(0 0% 56%);
  --color-border: hsl(0 0% 92%);

  --color-fg-link: var(--color-fg);
  --color-fg-link-preactive: var(--color-blue-dark);
  --color-link-decoration: var(--color-blue-medium);
  --color-link-decoration-preactive: var(--color-blue-light);

  --color-horizon: var(--color-blue-medium);
  --color-monorail-track: var(--color-blue-light);
  --color-monorail-track-outline: var(--color-horizon);
  --color-monorail-car: var(--color-green-light);
  --color-monorail-car-outline: var(--color-fg);
  --color-monorail-car-window: var(--color-green-medium);
  --color-monorail-car-active: var(--color-red-light);
  --color-monorail-car-active-outline: var(--color-monorail-car-outline);
  --color-tree-leaf: var(--color-green-light);
  --color-tree-leaf-outline: transparent;
  --color-tree-wood: var(--color-fg);

  @media (--dark) {
    --type-code-weight: 400;

    --color-bg: hsl(0 0% 4%);
    --color-bg-surface: transparent;
    --color-bg-code: hsl(0 0% 18%);
    --color-bg-tag: var(--color-yellow-medium);
    --color-fg: hsl(0 0% 96%);
    --color-fg-code: var(--color-teal-medium);
    --color-fg-caption: hsl(0 0% 72%);
    --color-fg-tag: var(--color-bg);
    --color-border: hsl(0 0% 92%);

    --color-link-decoration: var(--color-nightlight);
    --color-link-decoration-preactive: var(--color-yellow-dark);
    --color-fg-link: var(--color-nightlight);
    --color-fg-link-preactive: var(--color-nightlight);

    --color-nightlight: var(--color-yellow-medium);

    --color-horizon: var(--color-nightlight);;
    --color-monorail-track: var(--color-bg);
    --color-monorail-track-outline: var(--color-nightlight);
    --color-monorail-car: var(--color-bg);
    --color-monorail-car-outline: var(--color-teal-medium);
    --color-monorail-car-window: hsl(0 0% 32%);
    --color-monorail-car-active: var(--color-monorail-car);
    --color-monorail-car-active-outline: var(--color-magenta-medium);
    --color-tree-leaf: transparent;
    --color-tree-leaf-outline: var(--color-nightlight);
    --color-tree-wood: var(--color-nightlight);
  }

  --ease-bouncing: cubic-bezier(.64,1.81,.71,1.64);

  --zindex-skip: 1000;
  --zindex-logo: 10;
  --zindex-monorail: 2;
  --zindex-monorail-track: -1;
  --zindex-monorail-track-outline: 1;
  --zindex-sidewalks: -1;
}
