.drawings {
  grid-column: 2 / -2;
}

.drawings-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (--gallery-md) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    gap: 1rem 3rem;
  }
}

.drawing {
  margin: 0;

  & a {
    text-decoration: none;
  }

  & > a {
    --scale: 1;

    display: block;

    &:hover,
    &:focus {
      --scale: 1.04;
    }
  }

  & figure {
    margin: 0;
  }

  & img,
  & figcaption {
    --border-width: .1875rem;

    border: var(--border-width) solid var(--color-fg);

    @media (--dark) {
      --border-width: 0;
    }
  }

  & img {
    aspect-ratio: 1 / 1;
    block-size: auto;
    inline-size: 100%;
    transform: scale(var(--scale));

    @media (--motion) {
      transition: transform .16s var(--ease-bouncing);
    }
  }

  & figcaption {
    --translate-y: -1rem;
    --shadow-offset: .32rem;
    --inset-shadow-offset: calc(var(--shadow-offset) - var(--border-width));

    background-color: var(--color-gallery-shadow);
    box-shadow:
        var(--shadow-offset) var(--shadow-offset) 0 var(--color-gallery-shadow),
        inset var(--inset-shadow-offset) var(--inset-shadow-offset) 0 var(--color-bg);
    margin: 0 1rem;
    padding: .5rem 1rem;
    position: relative;
    text-shadow: .125rem .0625rem 0 var(--color-bg);
    transform: translatey(var(--translate-y)) scale(var(--scale));;

    @media (--dark) {
      background-color: var(--color-bg);
      box-shadow: none;
      color: var(--color-fg);
      text-shadow: none;
    }

    @media (--gallery-md) {
      --translate-y: -50%;

      margin-inline: 2rem;
    }

    @media (--motion) {
      transition: .16s .08s var(--ease-bouncing);
    }

    &::after {
      --border-color: var(--color-nightlight);

      border: .125rem dotted var(--border-color);
      content: none;
      filter: drop-shadow(0 0 .25rem var(--border-color));
      inset: -.125rem;
      position: absolute;
      pointer-events: none;

      @media (--dark) {
        content: '';
      }
    }
  }
}

.drawing-featured {
  @media (--gallery-md) {
    grid-column: 1 / -1;
    margin-block-end: 4rem;
    pointer-events: none;
  }

  & figure {
    @media (--gallery-md) {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 2rem;
    }
  }

  & picture,
  & figcaption {
    grid-row: 1 / 2;
    pointer-events: initial;
  }

  & picture {
    grid-column: 1 / 7; 
  }

  & figcaption {
    align-self: end;
    grid-column: 6 / -1;

    @media (--gallery-md) {
      --translate-y: 0;

      font: inherit;
      margin: 0 0 4rem;
      padding: 2rem;
    }
  }

  & .drawing-title {
    margin-block-start: 1em;

    @media (--gallery-md) {
      margin-block-start: 2em;
    }
  }

  & .drawing-date {
    font-size: var(--type-caption-size);
    font-weight: var(--type-caption-weight);
    line-height: var(--type-caption-lh);
    text-transform: uppercase;
  }
}

.drawing-exhibition {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;

  & figcaption {
    color: var(--color-fg);
    font: inherit;
    margin: 0;
    padding: 0;
  }
}

.drawing-pagination {
  --arrow-size: 2rem;
  --arrow-gap: .75rem;
  --arrow-clear: calc(var(--arrow-size) + var(--arrow-gap));
  --arrow-scale: 1;

  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  inline-size: 100%;
  margin-block-start: 3rem;

  & a {
    color: var(--color-fg-caption);
    font-size: var(--type-caption-size);
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
      --arrow-scale: 1.2;
    }

    &::before {
      background-color: var(--color-green-light);
      border-radius: .25rem;
      block-size: 100%;
      color: var(--color-fg);
      display: grid;
      font-size: 1.2rem;
      inline-size: var(--arrow-size);
      place-items: center;
      position: absolute;
      text-shadow: .125rem .125rem 0 var(--color-bg);
      transform: scale(var(--arrow-scale));

      @media (--motion) {
        transition: .16s var(--ease-bouncing);
      }

      @media (--dark) {
        background-color: var(--color-nightlight);
        color: var(--color-bg);
        text-shadow: none;
      }
    }
  }

  & strong {
    color: var(--color-fg);
    display: block;
    font-size: var(--type-body-size);
    line-height: 1;
  }
}

.drawing-pagination-next {
  --translate-x: 50%;

  grid-column: 1 / 2;
  justify-self: start;
  padding-inline-start: var(--arrow-clear);

  &::before {
    content: '←';
    inset: 0 auto 0 0;
  }
}

.drawing-pagination-prev {
  --translate-x: -50%;

  grid-column: -2 / -1;
  justify-self: end;
  padding-inline-end: var(--arrow-clear);
  text-align: end;

  &::before {
    content: '→';
    inset: 0 0 0 auto;
  }
}
