.drawings {
  grid-column: 2 / -2;
}

.drawings-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (--gallery-md) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    gap: 1rem 3rem;
  }
}

.drawing {
  margin: 0;

  & a {
    text-decoration: none;
  }

  & > a {
    --scale: 1;

    display: block;

    &:hover,
    &:focus {
      --scale: 1.04;
    }
  }

  & figure {
    margin: 0;
  }

  & figure img,
  & figcaption {
    --border-width: .1875rem;

    border: var(--border-width) solid var(--color-fg);
  }

  & img {
    aspect-ratio: 1 / 1;
    block-size: auto;
    inline-size: 100%;
    transform: scale(var(--scale));

    @media (--motion) {
      transition: transform .16s var(--ease-bouncing);
    }
  }

  & figcaption {
    --translate-y: -1rem;
    --shadow-offset: .32rem;
    --inset-shadow-offset: calc(var(--shadow-offset) - var(--border-width));

    background-color: var(--color-gallery-shadow);
    box-shadow:
        var(--shadow-offset) var(--shadow-offset) 0 var(--color-gallery-shadow),
        inset var(--inset-shadow-offset) var(--inset-shadow-offset) 0 var(--color-bg);
    margin: 0 1rem;
    padding: .5rem 1rem;
    text-shadow: .125rem .0625rem 0 var(--color-bg);
    transform: translatey(var(--translate-y)) scale(var(--scale));;

    @media (--gallery-md) {
      --translate-y: -50%;

      margin-inline: 2rem;
    }

    @media (--motion) {
      transition: .16s .08s var(--ease-bouncing);
    }
  }
}

.drawing-featured {
  @media (--gallery-md) {
    grid-column: 1 / -1;
    margin-block-end: 4rem;
    pointer-events: none;
  }

  & figure {
    @media (--gallery-md) {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 2rem;
    }
  }

  & img,
  & figcaption {
    grid-row: 1 / 2;
    pointer-events: initial;
  }

  & img {
    grid-column: 1 / 7; 
  }

  & figcaption {
    align-self: end;
    grid-column: 6 / -1;

    @media (--gallery-md) {
      --translate-y: 0;

      font: inherit;
      margin: 0 0 4rem;
    }
  }

  & .drawing-title {
    margin-block-start: 1em;

    @media (--gallery-md) {
      margin-block-start: 2em;
    }
  }

  & .drawing-date {
    font-size: var(--type-caption-size);
    font-weight: var(--type-caption-weight);
    line-height: var(--type-caption-lh);
    text-transform: uppercase;
  }
}

.drawing-exhibition {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;

  & figcaption {
    font: inherit;
  }
}
