.entrance {
  grid-column: 2 / -2;

  & .intro {
    background: var(--color-bg-surface);
    border-radius: 1rem;
    margin-block-end: 4rem;
    padding: 2rem;

    & h1 {
      margin-block-end: 0;
      text-align: initial;
    }
  }
}
