.entrance {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  grid-column: 2 / -2;

  @media (--md) {
    display: grid;
    gap: 4rem 2rem;
    grid-template:
        'intro intro'
        'articles drawings'
        / 1fr 24rem
  }

  & .intro {
    grid-area: intro;
    padding: 2rem;

    @media (--md) {
      margin-inline: -2rem;
    }

    & header {
      margin-block-end: 2rem;

      & * {
        line-height: 1;
        margin: 0;
      }

      & h1 {
        margin-block-start: .5rem;
        text-align: initial;
        text-shadow: .175rem .175rem 0 var(--color-bg);
      }

      & .intro-subtitle {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -.05rem;
        text-shadow: .125rem .125rem 0 var(--color-bg);
      }
    }

    & footer {
      & > :last-child {
        margin-block-end: 0;
      }
    }
  }

  & .articles-list {
    gap: 2rem;
    grid-area: articles;
    margin-block: 2rem;

    & article {
      border-inline-start: .25rem solid var(--color-bg-code);
      margin-inline-start: .5rem;
      padding-inline-start: 1rem;
    }
  }

  & .drawing-gallery {
    grid-area: drawings;
    margin-inline: auto;
    max-inline-size: 32rem;

    @media (--md) {
      margin-inline: initial;
    }
  }
}
