@font-face {
  font-family: monolisa;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('MonoLisa Light'),
      local('MonoLisa-Light'),
      url(/fonts/monolisa-light.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('MonoLisa Light Italic'),
      local('MonoLisa-LightItalic'),
      url(/fonts/monolisa-lightitalic.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MonoLisa Regular'),
      local('MonoLisa-Regular'),
      url(/fonts/monolisa-regular.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('MonoLisa Regular Italic'),
      local('MonoLisa-RegularItalic'),
      url(/fonts/monolisa-regularitalic.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('MonoLisa Medium'),
      local('MonoLisa-Medium'),
      url(/fonts/monolisa-medium.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('MonoLisa Medium Italic'),
      local('MonoLisa-MediumItalic'),
      url(/fonts/monolisa-mediumitalic.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('MonoLisa SemiBold'),
      local('MonoLisa-SemiBold'),
      url(/fonts/monolisa-semibold.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('MonoLisa SemiBold Italic'),
      local('MonoLisa-SemiBoldItalic'),
      url(/fonts/monolisa-semibolditalic.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('MonoLisa Bold'),
      local('MonoLisa-Bold'),
      url(/fonts/monolisa-bold.woff2) format('woff2');
}

@font-face {
  font-family: monolisa;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('MonoLisa Bold Italic'),
      local('MonoLisa-BoldItalic'),
      url(/fonts/monolisa-bolditalic.woff2) format('woff2');
}

@font-face {
  font-family: dyslexie;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Dyslexie Regular'),
      local('Dyslexie-Regular'),
      url(/fonts/dyslexie-regular.woff) format('woff');
}

@font-face {
  font-family: dyslexie;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Dyslexie Regular Italic'),
      local('Dyslexie-RegularItalic'),
      url(/fonts/dyslexie-regularitalic.woff) format('woff');
}

@font-face {
  font-family: dyslexie;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Dyslexie Bold'),
      local('Dyslexie-Bold'),
      url(/fonts/dyslexie-bold.woff) format('woff');
}

@font-face {
  font-family: dyslexie;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Dyslexie Bold Italic'),
      local('Dyslexie-BoldItalic'),
      url(/fonts/dyslexie-bolditalic.woff) format('woff');
}
