/* Layout */

body {
  --page-padding: 1.5rem;

  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

_::-webkit-full-page-media, /* Hack targeting iOS Safari only. */
body {
  block-size: 100vh;
}

body.masked {
  overflow: hidden;
}

main,
.header,
.footer {
  @media (--md) {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr repeat(12, minmax(0, 3.75rem)) 1fr;
  }
}

.fenced {
  grid-column: 2 / -2;
}


/* Header */

.header {
  --monorail-height: 1.75rem;
  --rail-height: 1rem;
  --rail-offset: .2rem;
  --monorail-top: .8rem;
  --logo-inline-size: 12.75rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--page-padding) 0 0;
  position: relative;

  @media (--nav-md) {
    display: grid;
    align-items: end;
    gap: 0;
    grid-template-columns:
        var(--page-padding) var(--logo-inline-size) 1fr var(--page-padding);
  }

  @media (--md) {
    grid-template-columns: 1fr var(--logo-inline-size) 46rem 1fr;
  }
}

.logo,
.nav {
  grid-row: 1 / 2;
}

.logo {
  flex-shrink: 0;
  position: relative;
  z-index: var(--zindex-logo);

  @media (--nav-md) {
    grid-column: 2 / 3;
    justify-self: center;
    margin-block-end: var(--rail-height);
  }

  &,
  & img {
    display: block;
  }

  & img {
    max-block-size: 6rem;

    @media (--nav-md) {
      max-block-size: 7.5rem;
    }
  }
}

@keyframes monorail-arriving {
  from {
    transform: translatex(100vw);
  }

  to {
    transform: none;
  }
}

@keyframes monorail-departing-sm {
  from {
    transform: none;
  }

  to {
    transform: translatex(calc(-1 * var(--monorail-length, 100%)));
  }
}

@keyframes monorail-departing-md {
  from {
    transform: none;
  }

  to {
    transform: translatex(-100vw);
  }
}

.nav {
  background-color: transparent;
  justify-self: end;
  inline-size: 100vw;
  overflow: hidden;
  position: relative;
  padding-block-end: calc(var(--rail-height) - var(--rail-offset));

  @media (--nav-sm) {
    display: flex;
  }

  @media (--nav-md) {
    /* TODO: replace with `display: subgrid`. */
    display: grid;
    gap: inherit;
    grid-column: 1 / -1;
    grid: inherit;
  }

  &::after {
    background-color: var(--color-accent-1);
    block-size: var(--rail-height);
    border-block-start: .125rem solid var(--color-accent-1-darker);
    content: '';
    display: block;
    inset: calc(var(--monorail-top) + var(--monorail-height) - var(--rail-offset)) 0 0;
    position: absolute;
    z-index: var(--zindex-rail);

    @media (--nav-md) {
      inset-inline: calc(-.5 * var(--page-padding));
    }
  }
}

.monorail-station {
  --padding-block-end: 2rem;

  margin: 0 0 calc(.25rem - var(--padding-block-end));
  position: relative;
  padding-block-start: var(--monorail-top);

  @media (--nav-sm) {
    flex-grow: 1;
    overflow: auto;
    padding-block-end: var(--padding-block-end);
    scroll-snap-type: x mandatory;
    text-align: center;
  }

  @media (--nav-md) {
    margin-block-end: .125rem;
    grid-column: 2 / -2;
    justify-self: end;
  }

  @media (--motion) {
    scroll-behavior: smooth;
  }
}

.monorail {
  --monorail-engine-offset: var(--page-padding);
  --monorail-car-gap: .125rem;
  --monorail-car-bounce: transform .16s cubic-bezier(.64,1.81,.71,1.64);

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: var(--zindex-monorail);

  @media (--nav-sm) {
    display: inline-flex;
  }

  @media (--nav-md) {
    --monorail-engine-offset: 0rem;
  }

  @media (--motion) {
    animation: monorail-arriving .72s cubic-bezier(.15,.76,.32,.89);
  }

  &:is(.depart *) {
    @media (--motion) {
      animation: monorail-departing-sm .48s forwards cubic-bezier(.6,-.01,1,.37);
    }

    @media (--nav-md) and (--motion) {
      animation-name: monorail-departing-md;
    }
  }

  &::before,
  &::after {
    --fill-offset: .1875rem;
    --block-size: calc(var(--monorail-height) + var(--fill-offset));

    background: url(/assets/decors/monorail.svg) no-repeat left bottom;
    background-size: 9.875rem var(--block-size);
    block-size: var(--block-size);
    box-sizing: content-box;
    content: '';
    flex-shrink: 0;
    margin-block-end: calc(-1 * var(--fill-offset));
  }

  &::before {
    inline-size: calc(4.875rem + var(--monorail-engine-offset));
    background-position: var(--monorail-engine-offset) top;
  }

  &::after {
    inline-size: calc(4.9375rem + var(--monorail-engine-offset));
    background-position: right var(--monorail-engine-offset) top;
    margin-inline-start: var(--monorail-car-gap);
  }

  & li {
    margin: 0 var(--monorail-car-gap);
    position: relative;

    &:is(.arrive *) {
      @media (--nav-sm) {
        scroll-snap-align: center;
      }
    }
  }

  & li::marker {
    content: none;
  }

  & .active {
    &::before {
      border-block-start: .125rem solid currentcolor;
      content: '';
      inset: -.25rem 0 auto;
      position: absolute;

      @media (--motion) {
        transition: var(--monorail-car-bounce);
        transition-delay: .12s;
      }
    }

    &:hover::before,
    &:focus-within::before {
      transform: translatey(-.25rem);
    }
  }
}

.nav-link {
  align-items: center;
  background: transparent;
  block-size: var(--monorail-height);
  display: flex;
  color: var(--color-fg);
  font-size: 1rem;
  padding: 0 .5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: .125rem .0625rem 0 var(--color-bg);
  text-transform: uppercase;

  @media (--motion) {
    transition: var(--monorail-car-bounce);
  }

  &:hover,
  &:focus {
    transform: translatey(-.25rem);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    border: .125rem solid currentcolor;
    inset: 0;
    pointer-events: none;
  }

  &::after {
    --monorail-car-paint: var(--color-accent-2);

    background-color: var(--monorail-car-paint);
    border: 0 solid var(--color-bg);
    border-width: .25rem 0 0 .25rem;
    box-shadow: .25rem .25rem 0 -.1rem var(--monorail-car-paint);
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  @nest .nav .active & {
    font-weight: 900;

    &::after {
      --monorail-car-paint: var(--color-accent-3);
    }
  }
}


/* Footer */

.footer {
  @media (--md) {
    min-block-size: 10rem;
  }

  & .fenced {
    align-self: end;
    margin-inline: var(--page-padding);
    padding-block-end: var(--page-padding);
    text-align: center;
  }
}

.footer .fenced,
.footer-sidewalk:first-child,
.footer-sidewalk:last-child {
  grid-row: 1 / -1;
}

.footer-sidewalk {
  &:first-child {
    background:
      var(--bg) no-repeat right bottom / 74px 102px,
      var(--bg) no-repeat right 49px bottom / 89px 122px;
    grid-column: 1 / 3;
  }

  &:last-child {
    background:
      var(--bg) no-repeat left bottom / 52px 72px,
      var(--bg) no-repeat 77px bottom / 44px 61px,
      var(--bg) no-repeat 95px bottom / 88px 122px;
    grid-column: -3 / -1;
  }
}



/* Main */

main {
  flex-grow: 1;
  padding: 2rem var(--page-padding);

  @media (--md) {
    padding-block: 4.5rem;
  }

  & .fenced {
    grid-column: 4 / -4;
    margin-inline: auto;
    max-inline-size: 70ch;
  }
}

main .fenced > :first-child,
article > :first-child,
article > header :first-child {
  margin-block-start: 0;
}

main .fenced > :last-child,
article > :last-child,
article > header :last-child {
  margin-block-end: 0;
}

main h1:first-of-type {
  text-align: center;
}
