.post {
  & h1 {
    margin-block-end: 2rem;
  }

  & header {
    margin-block-end: 4rem;
  }
}

.post-meta {
  @nest .post & {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  & p {
    margin: 0;
  }

  & time {
    font-size: var(--type-caption-size);
    font-weight: var(--type-caption-weight);
    line-height: var(--type-caption-lh);
    text-transform: uppercase;
  }
}

.post-tags {
  @nest ul& {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & a {
    background-color: var(--color-bg-tag);
    border-radius: 1rem;
    color: var(--color-fg-tag) !important;
    display: block;
    font-size: var(--type-caption-size);
    font-weight: var(--type-caption-weight);
    line-height: var(--type-caption-lh);
    padding: .125rem .5rem;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    @media (--motion) {
      transition: transform .16s var(--ease-bouncing);
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
