<div class="article-list" role="presentation">
  {% for article in collections.article|articleList %}
    <article>
      <h2><a href="{{article.url|url}}">{{article.data.title}}</a></h2>
      <p>{{article.date|readableDate}}
      <p>{{article.data.excerpt}}
      <p><a href="{{article.url|url}}">Read on →</a>
    </article>
  {% endfor %}
</div>
