---
layout: templates/base.njk
title: Articles
eleventyNavigation:
  key: Articles
  order: 2
---

<div class="articles margin-trim" role="none">
  <h1>Articles</h1>

  {% include "_src/templates/article-list.njk" %}
</div>
