---
layout: layouts/base.njk
title: Articles
eleventyNavigation:
  key: Articles
  order: 3
---

<div class="articles margin-trim" role="presentation">
  <h1>Articles</h1>

  {% include "_includes/layouts/article-list.njk" %}
</div>
