---
layout: base.njk
override:tags: []
title: Articles
eleventyNavigation:
  key: Articles
  order: 2
---

<div class="articles margin-trim" role="none">
  <h1 id="title">Articles</h1>

  <section class="articles-list" role="none" aria-labelledby="title">
    {% set article_list_collection = collections.article %}
    {% include "_src/njk/article-list.njk" %}
  </section>

  <aside>
    <section class="surface margin-trim">
      <h2 class="plain">Tags</h2>
      <ul>
        {% for tag in collections.articlesTags %}
        <li>
          <a href="{{tag.href|url}}"
              title="Articles tagged with “{{tag.tag|postTagName}}”">
            {{tag.tag|postTagName}} ({{collections[tag.tag].length}})
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section class="surface margin-trim">
      <h2 class="plain">Archives</h2>
      <ul>
        {% for archive in collections.articlesArchives %}
        <li>
          <a href="{{archive.href|url}}"
              title="Articles written in {{archive.date|readableYearMonth}}">
            {{archive.date|readableYearMonth}} ({{archive.articles.length}})
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </aside>
</div>
