---
layout: base.njk
override:tags: []
pagination:
  data: collections.articlesTags
  size: 1
  alias: tag
permalink: '{{tag.href}}/index.html'
eleventyComputed:
  title: 'Articles: {{tag.tag|postTagName}}'
---

<div class="articles margin-trim" role="none">
  <h1>Articles: {{tag.tag|postTagName}}</h1>
  <div class="articles-list" role="none">
    {% set articleListConfig = {
      collection: collections[tag.tag]|reverse
    } %}
    {% include "_src/njk/article-list.njk" %}
  </div>

  {% include '_src/njk/article-nav.njk' %}
</div>
